# SQL Subqueries - Lab Assignment #2

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database ERD

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="img/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database `data2.sqlite` in the data folder.

In [ ]:
# Your code here; import the necessary packages

In [ ]:
# Your code here; create the connection

### Q.1 Write an Equivalent Query using a Subquery

The following query works using a `JOIN`. Rewrite it so that it uses a subquery instead.

```
SELECT
    customerNumber,
    contactLastName,
    contactFirstName
FROM customers
JOIN orders 
    USING(customerNumber)
WHERE orderDate = '2003-01-31'
;
```

In [2]:
# Your code here
SELECT
    customerNumber,
    contactLastName,
    contactFirstName
FROM
    customers
WHERE
    customerNumber IN (
        SELECT customerNumber
        FROM orders
        WHERE orderDate = '2003-01-31'
    );

IndentationError: unexpected indent (910309723.py, line 3)

### Q.2 Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [5]:
# Your code here
SELECT 
    p.productName,
    SUM(od.quantityOrdered) AS totalItemsSold
FROM products p
JOIN orderdetails od
    ON p.productCode = od.productCode
GROUP BY p.productName
ORDER BY totalItemsSold DESC;

IndentationError: unexpected indent (2764641920.py, line 3)

### Q.3 Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

**A quick note on the SQL  `SELECT DISTINCT` statement:**

The `SELECT DISTINCT` statement is used to return only distinct values in the specified column. In other words, it removes the duplicate values in the column from the result set.

Inside a table, a column often contains many duplicate values; and sometimes you only want to list the unique values. If you apply the `DISTINCT` clause to a column that has `NULL`, the `DISTINCT` clause will keep only one NULL and eliminates the other. In other words, the DISTINCT clause treats all `NULL` “values” as the same value.

In [7]:
# Your code here
# Hint: because one of the tables we'll be joining has duplicate customer numbers, you should use DISTINCT
SELECT 
    p.productName,
    COUNT(DISTINCT o.customerNumber) AS totalCustomers
FROM products p
JOIN orderdetails od
    ON p.productCode = od.productCode
JOIN orders o
    ON od.orderNumber = o.orderNumber
GROUP BY p.productName
ORDER BY totalCustomers DESC;

IndentationError: unexpected indent (2988738671.py, line 4)

### Q.4 Select the Employee Number, First Name, Last Name, City (of the office), and Office Code of the Employees Who Sold Products That Have Been Ordered by Fewer Than 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [9]:
# Your code here
WITH ProductsOrderedByFewCustomers AS (
    SELECT 
        od.productCode,
        COUNT(DISTINCT o.customerNumber) AS totalCustomers
    FROM orderdetails od
    JOIN orders o
        ON od.orderNumber = o.orderNumber
    GROUP BY od.productCode
    HAVING COUNT(DISTINCT o.customerNumber) < 20
),
EmployeesWhoSoldFewCustomerProducts AS (
    SELECT DISTINCT
        e.employeeNumber,
        e.firstName,
        e.lastName,
        o.city,
        e.officeCode
    FROM employees e
    JOIN customers c
        ON e.employeeNumber = c.salesRepEmployeeNumber
    JOIN orders ord
        ON c.customerNumber = ord.customerNumber
    JOIN orderdetails od
        ON ord.orderNumber = od.orderNumber
    JOIN ProductsOrderedByFewCustomers pfc
        ON od.productCode = pfc.productCode
    JOIN offices o
        ON e.officeCode = o.officeCode
)
SELECT 
    employeeNumber,
    firstName,
    lastName,
    city,
    officeCode
FROM EmployeesWhoSoldFewCustomerProducts
ORDER BY lastName, firstName;
;

SyntaxError: invalid syntax (3121035008.py, line 2)

### Q.5 Select the Employee Number, First Name, Last Name, and Number of Customers for Employees Whose Customers Have an Average Credit Limit Over 15K

In [11]:
# Your code here
SELECT 
    e.employeeNumber,
    e.firstName,
    e.lastName,
    COUNT(c.customerNumber) AS numberOfCustomers
FROM employees e
JOIN customers c
    ON e.employeeNumber = c.salesRepEmployeeNumber
GROUP BY e.employeeNumber, e.firstName, e.lastName
HAVING AVG(c.creditLimit) > 15000
ORDER BY numberOfCustomers DESC;

IndentationError: unexpected indent (245407342.py, line 3)

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!